#div1{
    width: 50px;
    /* background: red; */
    height: 35px;
    border: 5x solid green;
    border-top: 15px green solid;
    border-left: 5px solid green;
    /* border-right: 5px solid green; */
    transform: rotate(-44deg);
    margin-left: 16px;
    border-radius: 20%;
}
#div2{
    width: 45px;
    height: 29px;
    /* background: yellow; */
    margin-left: 14px;
    margin-top: -2px;
    border-bottom: 5px solid green;
    border-right: 5px solid green;
    border-left: 15px solid green;
    rotate: 90;
    transform: rotate(-46deg);
    border-radius: 20%;
